<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <div class="one_third first">
            <h6 class="title">Address</h6>
            <ul class="nospace linklist contact">
                <li><i class="fa fa-map-marker"></i>
                    <address>
                        <p>
                            School      : Obafemi Awolowo University <br>
                        </p>
                    </address>
                </li>
            </ul>
        </div>
    </footer>
</div>