<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <div class="one_third first">
            <h6 class="title">Address</h6>
            <ul class="nospace linklist contact">
                <li><i class="fa fa-map-marker"></i>
                    <address>
                        <p>
                            Name        : Md. Rezwanul Haque <br>
                            University  : KUET <br>
                            Batch       : 2k14 <br>
                            Dept        : CSE <br>
                        </p>
                    </address>
                </li>
            </ul>
        </div>

        <div class="one_third">
            <h6 class="title">Phone</h6>
            <ul class="nospace linklist contact">
                <li><i class="fa fa-phone"></i> +8801773254014<br>
                    +8801521479574</li>
            </ul>
        </div>

        <div class="one_third">
            <h6 class="title">Email</h6>
            <ul class="nospace linklist contact">
                <li><i class="fa fa-envelope-o"></i> r.haque.249.rh@gmail.com </li>
            </ul>
        </div>

    </footer>
</div>