<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
            <h1><a href="index.php">ONLINE VOTING</a></h1>
        </div>

        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li class="active"><a href="access-denied.php">Home</a></li>

                <li><a class="drop" href="#">Voter Panel</a>
                    <ul>
                        <li><a href="login.php">Login</a></li>
                        <li><a href="registeracc.php">Registration</a></li>

                    </ul>
                </li>

            </ul>
        </nav>
    </header>
</div>